
body {
      background-color: whitesmoke;
      justify-content: center;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0em 0em;
    }


.navbar-brand{
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}  

.active a{
  border-bottom: #ffce3f solid 5px ;
}

.nav-link :hover {
  border-bottom: #ffce3f solid 5px ;
}

